# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://bukuk4muj:KamuskuMlongodb@adonisclusterin.6jwkt.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Reset database function
def reset_database():
    # Drop existing collection if it exists
    db.drop_collection('courses')
    # Create a new collection
    courses_collection = db['courses']
    print('Database reset successfully.')

# Basic CRUD Operations
def perform_basic_crud():
    # Create - Insert a single document
    result = courses_collection.insert_one({
        'course': 'Python 101',
        'enrollments': 28,
        'department': 'Computer Science'
    })
    print(f'Single document inserted with id: {result.inserted_id}')

    # Read - Find the document we just inserted
    doc = courses_collection.find_one({'course': 'Python 101'})
    print(f'Found document: {doc}')

    # Update - Update the enrollments
    update_result = courses_collection.update_one(
        {'course': 'Python 101'},
        {'$set': {'enrollments': 30}}
    )
    print(f'Modified {update_result.modified_count} document')

    # Delete - Delete the document
    delete_result = courses_collection.delete_one({'course': 'Python 101'})
    print(f'Deleted {delete_result.deleted_count} document')

# Perform bulk operations
def perform_bulk_operations():
    operations = [
        InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
        InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
        InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
        InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
        InsertOne({'course': 'Biology 301', 'enrollments': 22, 'department': 'Biology'}),
        InsertOne({'course': 'Chemistry 201', 'enrollments': 18, 'department': 'Chemistry'})
    ]
    result = courses_collection.bulk_write(operations)
    print('Bulk operations completed successfully.')
    print(f'Inserted documents: {result.inserted_count}')

# Main execution
if __name__ == "__main__":
    # Reset the database first
    reset_database()

    # Perform basic CRUD operations
    print("\nPerforming basic CRUD operations:")
    perform_basic_crud()

    # Perform bulk operations
    print("\nPerforming bulk operations:")
    perform_bulk_operations()

    # Display all documents in collection
    print("\nAll documents in collection:")
    for doc in courses_collection.find():
        print(doc)

Database reset successfully.

Performing basic CRUD operations:
Single document inserted with id: 6732a9bea2ecf51bbb3980c5
Found document: {'_id': ObjectId('6732a9bea2ecf51bbb3980c5'), 'course': 'Python 101', 'enrollments': 28, 'department': 'Computer Science'}
Modified 1 document
Deleted 1 document

Performing bulk operations:
Bulk operations completed successfully.
Inserted documents: 6

All documents in collection:
{'_id': ObjectId('6732a9bfa2ecf51bbb3980c6'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a9bfa2ecf51bbb3980c7'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a9bfa2ecf51bbb3980c8'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('6732a9bfa2ecf51bbb3980c9'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('6732a9bfa2ecf51bbb3980ca'), 'course': 'Biology 301', 'enrollments': 22, 'department': 'Biology'}
{'_id': ObjectId('6732a9bfa2ecf51bbb3980cb'), 'course': 'Chemistry 201', 'enrollments': 18, 'department': 'Chemistry'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('6732a188a2ecf51bbb398067'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a188a2ecf51bbb398068'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('6732a188a2ecf51bbb398067'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a188a2ecf51bbb398068'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732a188a2ecf51bbb398067'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732a188a2ecf51bbb398068'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732a188a2ecf51bbb398069'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732a188a2ecf51bbb39806a'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732a188a2ecf51bbb398067'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a188a2ecf51bbb398068'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a188a2ecf51bbb398069'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a188a2ecf51bbb39806a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}

In [ ]:
def reset_database():
    """Reset database by dropping existing collections and reinserting initial data"""
    print("Mereset database...")

    # Drop existing collections
    db.courses.drop()
    db.students.drop()

    # Get collections
    courses_collection = db['courses']
    students_collection = db['students']

    # Insert courses data
    courses_data = [
        {'course': 'Algoritma dan Pemrograman', 'enrollments': 35, 'department': 'Teknik Informatika'},
        {'course': 'Basis Data Lanjut', 'enrollments': 28, 'department': 'Teknik Informatika'},
        {'course': 'Kalkulus Dasar', 'enrollments': 40, 'department': 'Matematika'},
        {'course': 'Jaringan Komputer', 'enrollments': 25, 'department': 'Teknik Informatika'},
        {'course': 'Statistika Terapan', 'enrollments': 30, 'department': 'Matematika'}
    ]
    courses_collection.insert_many(courses_data)

    # Insert students data
    students_data = [
        {'student_id': 1, 'name': 'Hambali', 'enrolled_course': 'Algoritma dan Pemrograman'},
        {'student_id': 2, 'name': 'Putri Wahyuni', 'enrolled_course': 'Basis Data Lanjut'},
        {'student_id': 3, 'name': 'Amba Santoso', 'enrolled_course': 'Kalkulus Dasar'},
        {'student_id': 4, 'name': 'Dewi Safitri', 'enrolled_course': 'Jaringan Komputer'},
        {'student_id': 5, 'name': 'Eko Prasetyo', 'enrolled_course': 'Statistika Terapan'},
        {'student_id': 6, 'name': 'Fitriani Kusuma', 'enrolled_course': 'Algoritma dan Pemrograman'},
        {'student_id': 7, 'name': 'Galih Pratama', 'enrolled_course': 'Basis Data Lanjut'},
        {'student_id': 8, 'name': 'Hana Permata', 'enrolled_course': 'Kalkulus Dasar'},
        {'student_id': 9, 'name': 'Irfan Ramadhan', 'enrolled_course': 'Jaringan Komputer'},
        {'student_id': 10, 'name': 'Jasmine Putri', 'enrolled_course': 'Statistika Terapan'},
        {'student_id': 11, 'name': 'Kurniawan Hidayat', 'enrolled_course': 'Algoritma dan Pemrograman'},
        {'student_id': 12, 'name': 'Larasati', 'enrolled_course': 'Basis Data Lanjut'},
        {'student_id': 13, 'name': 'Muhammad Fajar', 'enrolled_course': 'Kalkulus Dasar'},
        {'student_id': 14, 'name': 'Nadia Sari', 'enrolled_course': 'Jaringan Komputer'},
        {'student_id': 15, 'name': 'Oscar Pratama', 'enrolled_course': 'Statistika Terapan'},
        {'student_id': 16, 'name': 'Putri Rahayu', 'enrolled_course': 'Algoritma dan Pemrograman'},
        {'student_id': 17, 'name': 'Rendi Wijaya', 'enrolled_course': 'Basis Data Lanjut'},
        {'student_id': 18, 'name': 'Siti Nurhaliza', 'enrolled_course': 'Kalkulus Dasar'},
        {'student_id': 19, 'name': 'Tono Sucipto', 'enrolled_course': 'Jaringan Komputer'},
        {'student_id': 20, 'name': 'Utami Wulandari', 'enrolled_course': 'Statistika Terapan'}
    ]
    students_collection.insert_many(students_data)

    print("Database berhasil direset. Data awal telah dimasukkan.\n")
    return courses_collection, students_collection

# Homework 1: Count courses per department
def count_courses_per_department(courses_collection):
    pipeline = [
        {
            '$group': {
                '_id': '$department',
                'course_count': {'$sum': 1}
            }
        }
    ]

    print("---Homework 1 - Jumlah mata kuliah per departemen---")
    results = courses_collection.aggregate(pipeline)
    for result in results:
        print(f"Departemen: {result['_id']}, Jumlah: {result['course_count']}")
    print()

# Homework 2: Filter Computer Science(Teknik Informatika) courses with enrollments > 25
def filter_cs_courses(courses_collection):
    pipeline = [
        {
            '$match': {
                'department': 'Teknik Informatika',
                'enrollments': {'$gt': 25}
            }
        },
        {
            '$group': {
                '_id': '$department',
                'courses': {'$push': {
                    'course': '$course',
                    'enrollments': '$enrollments'
                }}
            }
        }
    ]

    print("---Homework 2 - Mata kuliah Teknik Informatika dengan enrollments > 25---")
    results = courses_collection.aggregate(pipeline)
    for result in results:
        print(f"Departemen: {result['_id']}")
        for course in result['courses']:
            print(f"Mata Kuliah: {course['course']}, Jumlah Mahasiswa: {course['enrollments']}")
    print()

# Homework 3: Join courses with students using $lookup
def join_courses_with_students(courses_collection):
    pipeline = [
        {
            '$lookup': {
                'from': 'students',
                'localField': 'course',
                'foreignField': 'enrolled_course',
                'as': 'enrolled_students'
            }
        },
        {
            '$project': {
                'course': 1,
                'department': 1,
                'enrollments': 1,
                'student_count': {'$size': '$enrolled_students'},
                'enrolled_students.name': 1
            }
        }
    ]

    print("---Homework 3 - Mata kuliah dengan daftar mahasiswa---")
    results = courses_collection.aggregate(pipeline)
    for result in results:
        print(f"\nMata Kuliah: {result['course']}")
        print(f"Departemen: {result['department']}")
        print(f"Kapasitas: {result['enrollments']}")
        print(f"Jumlah mahasiswa terdaftar: {result['student_count']}")
        print("Daftar mahasiswa:")
        for student in result['enrolled_students']:
            print(f"- {student['name']}")
    print()

# Execute all homework solutions
if __name__ == "__main__":
    # Reset database and get fresh collections
    courses_collection, students_collection = reset_database()

    # Run homework solutions
    count_courses_per_department(courses_collection)
    filter_cs_courses(courses_collection)
    join_courses_with_students(courses_collection)

Mereset database...
Database berhasil direset. Data awal telah dimasukkan.

---Homework 1 - Jumlah mata kuliah per departemen---
Departemen: Teknik Informatika, Jumlah: 3
Departemen: Matematika, Jumlah: 2

---Homework 2 - Mata kuliah Teknik Informatika dengan enrollments > 25---
Departemen: Teknik Informatika
Mata Kuliah: Algoritma dan Pemrograman, Jumlah Mahasiswa: 35
Mata Kuliah: Basis Data Lanjut, Jumlah Mahasiswa: 28

---Homework 3 - Mata kuliah dengan daftar mahasiswa---

Mata Kuliah: Algoritma dan Pemrograman
Departemen: Teknik Informatika
Kapasitas: 35
Jumlah mahasiswa terdaftar: 4
Daftar mahasiswa:
- Hambali
- Fitriani Kusuma
- Kurniawan Hidayat
- Putri Rahayu

Mata Kuliah: Basis Data Lanjut
Departemen: Teknik Informatika
Kapasitas: 28
Jumlah mahasiswa terdaftar: 4
Daftar mahasiswa:
- Putri Wahyuni
- Galih Pratama
- Larasati
- Rendi Wijaya

Mata Kuliah: Kalkulus Dasar
Departemen: Matematika
Kapasitas: 40
Jumlah mahasiswa terdaftar: 4
Daftar mahasiswa:
- Amba Santoso
- Hana Permata
- Muhammad Fajar
- Siti Nurhaliza

Mata Kuliah: Jaringan Komputer
Departemen: Teknik Informatika
Kapasitas: 25
Jumlah mahasiswa terdaftar: 4
Daftar mahasiswa:
- Dewi Safitri
- Irfan Ramadhan
- Nadia Sari
- Tono Sucipto

Mata Kuliah: Statistika Terapan
Departemen: Matematika
Kapasitas: 30
Jumlah mahasiswa terdaftar: 4
Daftar mahasiswa:
- Eko Prasetyo
- Jasmine Putri
- Oscar Pratama
- Utami Wulandari